<nav class="navbar navbar-expand-md navbar-dark poke-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/intro">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" id="home" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" id="hall" routerLink="/hall" routerLinkActive="active">Hall of Fame</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control" type="search" placeholder="Search Current Hunts" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm" id="searchBox">
            <button class="btn btn-warning" id="search" type="submit" (click)="search()">Search</button>
          </form>
          <button class="btn btn-danger log-button" *ngIf="isLoggedIn | async"
          (click)="logOut()">Log Out</button>
          <button class="btn btn-danger log-button" *ngIf="(isLoggedIn | async) === false"
          routerLink="/login">Log In</button>
        </div>
      </div>
    </div>
  </nav>
