<h2>A Pokémon Shiny Counter</h2>
<div class="row intro-container">
    <div class="col-lg-6 order-lg-1">
        <img class="img-fluid my-3" src="https://archives.bulbagarden.net/media/upload/4/44/Pok%C3%A9mon_Gallery_Encounter_with_Shining.png">
    </div>
    <div class="col-lg-6 order-lg-2 intro">
        <p>This website app is designed to store your current shiny hunts in one place! You can store 
            multiple hunts at the same time. Each Pokémon will be displayed with an image and the 
            current amount of encounters. When you have finally gotten that shiny, you can add it 
            to the hall of fame where all your successful hunts will be stored along with the amount 
            of encounters it took. Happy hunting!
        </p>
        <ng-container *ngIf="(isLoggedIn | async); else notLog">
            <div class="bottom-buttons">
                <button class="btn btn-primary left-button" routerLink="/home" 
                >Check out your ongoing shiny hunts!</button>
                <button class="btn btn-info right-button" routerLink="/hall" 
                >Here's a list of all the shiny Pokémon you have!</button>
            </div>
        </ng-container>
        <ng-template #notLog>
            <div class="bottom-buttons">
                <button class="btn btn-primary left-button" routerLink="/newaccount" 
                >Get started here!</button>
                <button class="btn btn-info right-button" routerLink="/login" 
                >Already have an account? Log in here!</button>
            </div>
        </ng-template>
    </div>
</div>
