<div>
    <h2>Add a New Pokémon</h2>
</div>
<form class="row g-3 new-form" (ngSubmit)="onSubmit(pokeForm.value)" #pokeForm="ngForm">
    <div class="mb-3 form-group">
        <label for="name" class="form-label">Name of Pokémon</label>
        <p *ngIf="pokeForm.controls['name']?.invalid && (pokeForm.controls['name']?.touched || mouseOver)" 
        class="error-message">Required</p>
        <input type="text" (ngModel)="name" name="name" class="form-control" id="name" required>
    </div>
    <div class="mb-3 form-group">
        <label for="count" class="form-label">Current encounters</label>
        <p *ngIf="pokeForm.controls['count']?.invalid && (pokeForm.controls['count']?.touched || mouseOver)"
         class="error-message">Required</p>
        <input type="number" [(ngModel)]="count" name="count" class="form-control" id="count" min="0" required>
    </div>
    <span>
    <span (mouseover)="mouseOver=true" (mouseleave)="mouseOver=false">
        <button type="submit" class="btn btn-primary mb-3" 
        [disabled]="pokeForm.invalid">Add Pokémon</button>
    </span>
    <button class="btn btn-danger mb-3 cancel" routerLink="/home">Cancel</button>
    </span>
    <div class="alert alert-danger" role="alert" *ngIf="notAlert">
        The Pokémon doesn't seem to exist. Perhaps check your spelling?
    </div>
  </form>