<div class="row pokemon-detail-container">
    <div class="col-md-6 order-md-2 count">
        <p>You have encountered {{pokemon.name}} a total of {{pokemon.count}} times! Add to the counter below:</p>
        <input id="count-form" [(ngModel)]="pokemon.count" placeholder="count"/>
        <button type="button" class="counter-add" (click)="add()">Add</button>
        <p class="hall-of-fame-text">Finally encountered that shiny? Add it to the Hall of Fame!</p>
        <button type="button" class="hall-of-fame-add" (click)="warning(false)" [disabled]="!redirect">Hall of Fame</button>
        <div class="back-container">
            <button type="button" class="go-back" (click)="goBack()">Go Back</button>
        </div>
        <div class="delete-container">
            <button type="button" class="delete" (click)="warning(true)">Delete Pokémon</button>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isDelete">
            Are you sure you want to delete this Pokémon?
            <button type="button" class="btn btn-danger" (click)="delete()">Yes</button>
            <button type="button" class="btn btn-warning" (click)="clear(true)">No</button>
        </div>
        <div class="alert alert-primary" role="alert" *ngIf="isHall">
            Are you sure you want to add this Pokémon to the Hall of Fame?
            <button type="button" class="btn btn-primary" (click)="addToHall()">Yes</button>
            <button type="button" class="btn btn-warning" (click)="clear(false)">No</button>
        </div>
    </div>
    <div class="col-md-6 order-md-1 image">
        <h2>{{pokemon.name}}</h2>
        <img class="img-fluid mx-auto d-block" *ngIf="image$" [src]="(image$ | async)">
    </div>
</div>
