<div class="row pokemon-detail-container">
    <div class="col-md-6 order-md-2 count">
        <p>You have encountered {{pokemon.name}} a total of {{pokemon.count}} times! Add to the counter below:</p>
        <input id="count-form" [(ngModel)]="pokemon.count" placeholder="count"/>
        <button type="button" class="counter-add" (click)="add()">Add</button>
        <p class="hall-of-fame-text">Finally encountered that shiny? Add it to the Hall of Fame!</p>
        <button type="button" class="hall-of-fame-add">Hall of Fame</button>
        <div class="back-container">
            <button type="button" class="go-back" (click)="goBack()">Go Back</button>
        </div>
    </div>
    <div class="col-md-6 order-md-1 image">
        <h2>{{pokemon.name}}</h2>
        <img class="img-fluid mx-auto d-block" *ngIf="data" src={{data.sprites.other.home.front_shiny}}>
    </div>
</div>
