.image h2 {
    text-align: center;
}
.hall-of-fame-text {
    margin-top: 100px;
}
.pokemon-detail-container {
    background-color: #FAFAFA;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    margin: 40px;
}
@media only screen and (min-width: 768px) {
    .count {
        border-width: 0px 0px 0px 2px;
        border-style: solid;
    }
}
.hall-of-fame-add {
    height: 70px;
    width: 70px;
    background: linear-gradient(-180deg, #f00000 50%, #f0f0f0 50%);
    border-radius: 50%;
    margin-bottom: 20px;
}
.count,.image {
    padding: 40px;
}
.counter-add:hover {
    background-color: #f00000;
    color: #f0f0f0;
}
.go-back {
    background-color: #373737;
    color: white;
    float: right;
    border-radius: 10px;
}
.back-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
img {
    width: 100%;
    max-width: 512px;
    display: inline-block;
}
.count {
    position: relative;
}