.app-header {
    background-color: #373737;
    padding-right: 0px;
    display: flex;
    justify-content: center;
}

body {
    font-family: OCR A Std, DejaVu Sans Mono, monospace;
}

p {
    color: gray;
}

h1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

.app-header img {
    width: 300px;
    height: auto;
    margin: 0px auto;
}

@media only screen and (max-width: 768px) {
    .app-header {
        display: block;
    }
    .img-container {
        display: flex;
    }
    h1 {
        text-align: center;
        padding-bottom: 20px;
    }
}