h2 {
    text-align: center;
    margin: 20px 0px;
}

.log-form {
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    background-color: #F4F4F4;
    margin: 0px 40px 20px;
    padding: 0px 20px;
}

.error-message {
    float: right;
    color: #f00000;
    margin: 0%;
}